#cycle{
	font-family:sans-serif;
	cursor:pointer;
}

#map {
	height: 700px;
	max-width: 960px;
}
path {
	stroke: #367498;
	stroke-width: 8;
}
#map-ui {
	position: absolute;
	top: 75px;
	left: 10px;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 100;
}

#map-ui a {
	 background: #FFF;
	 display: block;
	 margin: 0;
	 padding: 0;
	 border: 1px solid #BBB;
	 border-bottom-width: 0;
	 min-width: 138px;
	 padding: 10px;
	 text-decoration: none;
	 text-align: center;
}

#map-ui a:hover {
	background: #ECF5FA;
}

#map-ui li a{
	border-bottom-width: 1px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

#map-ui button.active {
	background: #3887BE;
	border-color: #3887BE;
	border-top-color: #FFF;
	color: #FFF;
}

.leaflet-popup-tip-container {
	height:10px;
}

#map-ui{
	top:15px;
	left:50px;
}
.legend {
	color: #555;
	background-color: white;
	padding: 5px;
	border: 1px solid #BBBBBB;
	border-radius: 3px 3px 3px 3px
}
.legend i {
	width: 31px;
	height: 8px;
	display: inline-block;
	margin-right: 4px;
	background: #367498;
}
.legend i.planned {
	width: 14px; 
	opacity: .8
}
.legend img {
	vertical-align: text-bottom;
	margin-bottom: -4px;
}
.leaflet-marker-icon {
	cursor:pointer;
}